<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Random Forest Classifier</title>
  <h2>Academic Performance Prediction</h2>
  <h3>Because the strongest features of our model are how many times a student
    raised their hand, visited course resources, viewed announcements,
    participated in discussion groups, and if they were absent over seven or
    under seven times, we can see that the behavioral features are the most
    important.</h3>
  <b>Instructions: Fill in the form to predict whether a student's performance
    will be low or high.</b>
  <style>
			body{
			   background-color: #b7d7e8;
			   font-family: Verdana,Arial,sans-serif;
			 }
			.container {
			  font-size: x-large;
			 	margin: 10 auto;
			 	width: 80%;
			 	max-width: 960px;
			  border: 10px #667292;
				border-radius: 10px;
			 }
			.submissionfield {
			  width: 290px;
			  height: 390px;
			  border: 1px
			  solid #999999;
			  padding: 5px;
			 }
  </style>
</head>
<body>
<div>
  <form action="/result" method="POST">
    <br>
    <br>
    <label for="Raised_Hand">How many times did the student raise their hand in class?</label>
    <input type="text" id="Raised_Hand" name="Raised_Hand">
    <br>
    <br>
    <label for="Visited_Resources">How many times did the student visit course content?</label>
    <input type="text" id="Visited_Resources" name="Visited_Resources">
    <br>
    <br>
    <label for="Viewed_Announcements">How many times did the student check new announcements?</label>
    <input type="text" id="Viewed_Announcements" name="Viewed_Announcements">
    <br>
    <br>
    <label for="Discussion_Groups">How many times did the student participate in discussion groups?</label>
    <input type="text" id="Discussion_Groups" name="Discussion_Groups">
    <br>
    <br>
    <label for="Under_Seven">Was the student absent under seven times?</label>
    <select id="Under_Seven" name="Under_Seven">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
